@import "_partials/vars";

.adBanner {
    background-color: $jdk-light-green;
    margin-top: 15px;
    margin-bottom: 15px;
    height: 130px;
    padding: 15px;

    p {
        font-weight: bolder;
        color: $jdk-white;
        margin-right: 3%;
    }

    button {
        margin: 0 auto;
        border: none;
        border-radius: 5px;
        background-color: $jdk-dark-gray;
        color: $jdk-white;
        padding: 10px;
        font-weight: bolder;
        top: 20px;
        width: auto;

        &:hover {
            border: 2px solid $jdk-white;
        }
    }
}

.mainBanner {
    position: relative;
    margin: 15px -15px;

    .bannerImg {
        width: 100%;
    }

    .bannerMsgContainer {
        position: absolute;
        background-color: rgba(51, 51, 51, 0.8);
        bottom: 0;
        height: 100%;
        padding: 20px;

        .title {
            color: $jdk-white;
            font-weight: bolder;
        }

        .separator {
            height: 7px;
            background-color: $jdk-light-green;
            margin: 10px 0 15px 0;
            border: none;
            max-width: 60%;
        }

        .messageBody {
            color: $jdk-white;
        }
    }
}

.mainServicesContainer {
    background-color: $jdk-light-gray;

    .servicesWrapper {
        width: 80%;
        margin: 30px auto;

        .service {
            background-color: $jdk-white;
            padding: 0 !important;
            margin-bottom: 30px;
            overflow: hidden;

            .serviceImg {
                width: 100%;
            }

            .title {
                color: $jdk-dark-blue;
                font-weight: bolder;
                margin: 5% 10%;
            }

            .messageBody {
                color: $jdk-dark-blue;
                font-weight: lighter;
                margin: 5% 10%;
                width: 80%;
            }

            .more {
                color: $jdk-dark-gray;
                float: right;
                display: block;
                font-weight: bolder;
                margin: 20px 5%;
                border-bottom: 5px solid $jdk-light-green;
                line-height: 25px;
            }
        }
    }
}

@media (min-width: 469px) {
    .adBanner p {
        top: 12px;
    }
}

@media (min-width: 548px) {
    .adBanner {
        p {
            top: 20px;
            width: 70%;
        }
    }
}

@media (min-width: 708px) {
    .adBanner p {
        top: 28px;
    }
}

@media (max-width: 767px) {
    .mainServicesContainer {
        .service {
            float: none;
        }
    }
}

@media (min-width: 768px) {
    .adBanner {
        p {
            margin-left: 5%;
        }

        button {}
    }

    .mainBanner {
        .bannerImg {}

        .bannerMsgContainer {
            height: 60%;
            width: 50%;
            top: 10%;
            left: 5%;

            .title {}

            .separator {}

            .messageBody {}
        }
    }

    .mainServicesContainer {
        .service {
            &:first-child {
                margin-right: 5%;
            }
        }
    }
}
